a {
  color: white;
  text-decoration: none;
}

body {
  height: 100vh;
}

li {
  display: list-item;
  list-style: none;
}

ul {
  display: block;
  margin: 0px 10px;
}

/* button attributes */
.button {
  border-radius: 6px;
  color: white;
  padding: 6px;
}

.button-active {
  border: darkgrey solid;
}

.button:hover {
  border: darkgrey solid;
  color: darkgrey;
}

/* content */
.content {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.content-home {
  font-family: "Gill Sans", sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: rgb(133, 170, 184);
}

.content-home-2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: rgb(133, 170, 184);
}

/* footer */
.footer-home {
  display: flex;
  width: 100%;
  font-family: "Gill Sans", sans-serif;
  justify-content: center;
  color: white;
  background-color: #cccfd3;
  padding-left: 25%;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: rgb(133, 170, 184) 3px solid;
}

/* header attributes */
.header {
  display: flex;
  font-family: "Gill Sans", sans-serif;
  justify-content: space-between;
  color: white;
  background-color: #cccfd3;
  padding: 1px 24px;
  border-bottom: rgb(133, 170, 184) 5px solid;
}

.header-logo {
  font-size: 40px;
  margin-right: 24px;
}

.header-2 {
  font-family: "Gill Sans", sans-serif;
  border-bottom: black 1px solid;
  padding-bottom: 20px;
}

.header-3 {
  font-family: "Gill Sans", sans-serif;
  padding-bottom: 20px;
  color: white;
}

/* margin for navigation links */
.ml {
  margin-left: 24px;
}

/* navigation */
.nav {
  justify-content: right;
  display: flex;
  list-style: none;
  padding: 50px 12px;
}

.nav2 {
  display: flex;
  list-style: none;
  padding: 50px 12px;
}

/* content container */
.overall {
  width: 100vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  background-color: lightblue;
}

/* owl icon */
.owl {
  align-items: center;
  padding-right: 5px;
  justify-content: center;
}

/* section */
.section-main {
  display: flex;
  justify-content: left;
  border: 1px white solid;
  background-color: rgb(201, 226, 235);
  width: 70vw;
  margin: 24px;
  padding: 24px;
}

.section-home-main {
  display: flex;
  justify-content: center;
  width: 70vw;
  height: 65vh;
  margin: 24px;
  padding: 24px;
}

@media screen and (max-width: 768px) {
  a {
    color: white;
    text-decoration: none;
  }

  body {
    height: 100vh;
  }

  li {
    display: list-item;
    list-style: none;
  }

  ul {
    display: block;
    margin: 0px 10px;
  }

  /* button attributes */
  .button {
    border-radius: 6px;
    color: white;
    padding: 6px;
  }

  .button-active {
    border: darkgrey solid;
  }

  .button:hover {
    border: darkgrey solid;
    color: darkgrey;
  }

  /* content */
  .content {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
  }

  .content-home {
    font-family: "Gill Sans", sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: rgb(133, 170, 184);
  }

  .content-home-2 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: rgb(133, 170, 184);
  }

  /* footer */
  .footer-home {
    display: flex;
    width: 100vw;
    font-family: "Gill Sans", sans-serif;
    justify-content: center;
    color: white;
    background-color: #cccfd3;
    padding-left: 25%;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: rgb(133, 170, 184) 3px solid;
  }

  /* header attributes */
  .header {
    display: flex;
    font-family: "Gill Sans", sans-serif;
    justify-content: space-between;
    color: white;
    background-color: #cccfd3;
    padding: 1px 24px;
    border-bottom: rgb(133, 170, 184) 5px solid;
  }

  .header-logo {
    font-size: 40px;
    margin-right: 24px;
  }

  .header-2 {
    font-family: "Gill Sans", sans-serif;
    border-bottom: black 1px solid;
    padding-bottom: 20px;
  }

  .header-3 {
    font-family: "Gill Sans", sans-serif;
    padding-bottom: 20px;
    color: white;
  }

  /* margin for navigation links */
  .ml {
    margin-left: 24px;
  }

  /* navigation */
  .nav {
    justify-content: right;
    display: flex;
    list-style: none;
    padding: 50px 12px;
  }

  .nav2 {
    display: flex;
    list-style: none;
    padding: 50px 12px;
  }

  /* content container */
  .overall {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("./../marble-background.jpg");
  }

  /* owl icon */
  .owl {
    align-items: center;
    padding-right: 5px;
    justify-content: center;
  }

  /* section */
  .section-main {
    display: flex;
    justify-content: left;
    border: 1px white solid;
    background-color: rgb(201, 226, 235);
    width: 70vw;
    margin: 24px;
    padding: 24px;
  }

  .section-home-main {
    display: flex;
    justify-content: center;
    width: 70vw;
    height: 65vh;
    margin: 24px;
    padding: 24px;
  }
}
